stuff

docker-stuff/target/*
!docker-stuff/target/x86_64-unknown-linux-musl

docker-stuff/target/x86_64-unknown-linux-musl/release/*
!docker-stuff/target/x86_64-unknown-linux-musl/release/docker-stuff